In [6]:
import pandas as pd

In [7]:
df_camas = pd.read_csv("Data/clean_data_camas.csv")

In [8]:
df_camas

,Comunidades y Ciudades Autónomas,Cantidad hospitales,Cantidad camas,Camas por habitantes
0,Andalucía,50,14.407,1.7
1,Aragón,20,4.091,3.4
2,"Asturias, Principado",12,3.053,3.2
3,"Balears, Illes",11,2.251,2.2
4,Canarias,12,4.326,2.1
5,Cantabria,5,1.502,2.7
6,Castilla y León,16,6.649,3.1
7,Castilla-La Mancha,20,4.497,2.5
8,Cataluña,157,26.199,3.7
9,Comunitat Valenciana,39,10.430,2.3
10,Extremadura,12,3.508,3.5
11,Galicia,19,7.653,3.2
12,"Madrid, Comunidad de",37,12.578,2.1
13,"Murcia, Región de",16,3.503,2.5
14,"Navarra, C. Foral de",6,1.595,2.7
15,País Vasco,26,6.042,3.1
16,"Rioja, La",6,991.000,3.2
17,Ceuta y Melilla,2,341.000,2.5

In [9]:
df_densidad = pd.read_csv("Data/clean_densidad_poblacion.csv")

df_densidad

   Comunidades y Ciudades Autónomas Tamaño de los municipios  Periodo    Total
0                         Andalucía                    Total     2021  8472407
1                          Cataluña                    Total     2021  7763362
2              Madrid, Comunidad de                    Total     2021  6751251
3              Comunitat Valenciana                    Total     2021  5058138
4                           Galicia                    Total     2021  2695645
5                   Castilla y León                    Total     2021  2383139
6                        País Vasco                    Total     2021  2213993
7                          Canarias                    Total     2021  2172944
8              Castilla - La Mancha                    Total     2021  2049562
9                 Murcia, Región de                    Total     2021  1518486
10                           Aragón                    Total     2021  1326261
11                   Balears, Illes                    Total     2021  1173008
12                      Extremadura                    Total     2021  1059501
13          Asturias, Principado de                    Total     2021  1011792
14      Navarra, Comunidad Foral de                    Total     2021   661537
15                        Cantabria                    Total     2021   584507
16                        Rioja, La                    Total     2021   319796
17                          Melilla                    Total     2021    86261
18                            Ceuta                    Total     2021    83517

In [10]:
pd.read_csv("Data/clean_estancias.csv")

,Diagnóstico principal (CIE10MC),Total Nacional,Comunidades y Ciudades Autónomas,Total
0,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,Andalucía,4761302
1,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,Aragón,1288717
2,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,"Asturias, principado de",943142
3,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,"Balears, illes",1097088
4,"TODAS LAS CAUSAS A00-Z99 (salvo los códigos V,...",TOTAL NACIONAL,Canarias,1997630
...,...,...,...,...
2975,2102 Asistencia anticonceptiva Z30,Extranjero,NaN,15
2976,2103 Recién nacidos con vida según el tipo de ...,Extranjero,NaN,684
2977,2104 Otra atención médica (incluyendo sesiones...,Extranjero,NaN,1858
2978,2105 Otros factores que influyen en el estado ...,Extranjero,NaN,1853
2979,ALTAS SIN DIAGNÓSTICO,Extranjero,NaN,1580